---
import type { ParagraphProps } from "./Paragraph.types"

const {
  size = 'base',
  variant = 'black',
  align = 'left',
  spacing = 'base',
  ...rest
} = Astro.props as ParagraphProps;
---

<p class:list={['paragraph', `paragraph--${size}`, `paragraph--${variant}`, `paragraph--${align}`, `paragraph--spacing-${spacing}`, {...rest}]}>
  <slot />
</p>

<style lang="scss">
@use './Paragraph.styles.scss';
</style>