@use "@styles/abstracts/variables" as *;
@use "@styles/abstracts/mixins" as *;

.paragraph {
  line-height: 1.6;

  // Variants
  &.paragraph--blue {
    color: $color-primary;
  }
  &.paragraph--red {
    color: $color-secondary;
  }
  &.paragraph--gold {
    color: $color-accent;
  }
  &.paragraph--white {
    color: $color-white;
  }
  &.paragraph--black {
    color: $color-black;
  }

  // Align
  &.paragraph--left {
    text-align: left;
  }
  &.paragraph--center {
    text-align: center;
  }
  &.paragraph--right {
    text-align: right;
  }

  // Sizes
  &--sm {
    font-size: 0.875rem;
  }
  &--base {
    font-size: 1rem;
  }
  &--lg {
    font-size: 1.125rem;
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  // Spacing
  &--spacing-none {
    margin-block: 0;
  }
  &--spacing-xs {
    margin-block: 0.5rem 0.25rem;
  }
  &--spacing-sm {
    margin-block: 1rem 0.5rem;
  }
  &--spacing-base {
    margin-block: 2rem 0.5rem;
  }
  &--spacing-lg {
    margin-block: 3rem 1rem;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}
