@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/mixins' as *;

.heading {
  font-family: $font-heading;
  line-height: 1.2;
  margin: 2rem;
  
  // Variants
  &--blue { color: $color-primary; }
  &--red { color: $color-secondary; }
  &--gold { color: $color-accent; }
  &--white { color: $color-white; }
  &--black { color: $color-black; }
  
  // Align
  &--left { text-align: left; }
  &--center { text-align: center; }
  &--right { text-align: right; }
  
  // Sizes
  &--1 {
    font-size: 2.25rem;
    @media (min-width: 768px) { font-size: 3rem; }
  }
  
  &--2 {
    font-size: 1.875rem;
    @media (min-width: 768px) { font-size: 2.25rem; }
  }
  
  &--3 {
    font-size: 1.5rem;
    @media (min-width: 768px) { font-size: 1.875rem; }
  }
  
  &--4 { font-size: 1.25rem; }
  &--5 { font-size: 1.125rem; }
  &--6 { font-size: 1rem; }
}