---
// Hero component with background image and text
---

<section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Bienvenue chez Horizon Slavia</h1>
      <p class="hero-description">Voici une description accrocheuse qui se trouve au-dessus de l'image.</p>
    </div>
  </section>
  
  <style>
    .hero {
      height: 100vh;
      margin: 0px;
      background-image: url('../../assets/1200px-Carte_Europe_1843.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-align: center;
      color: white;
    }
  
    .hero-content {
      background: rgba(46, 71, 46, 0.5);
      padding: 20px;
      border-radius: 10px;
    }
  
    .hero-title {
      font-size: 3rem;
      margin-bottom: 10px;
      color: white
    }
  
    .hero-description {
      font-size: 1.2rem;
    }
  </style>
  