---
import type { SectionProps } from "./Section.types";
const {
  variant = 'white',
  padding = 'medium',
  ...rest
} = Astro.props as SectionProps
---

<section class:list={['section', `section--${variant}`, `section--${padding}`, {...rest}]}>
  <slot />
</section>

<style lang="scss">
  @use "./Section.styles.scss";
</style>
