---
import type { SectionProps } from "./Section.types";
const {
  variant = 'white',
  class: className = '',
  ...rest
} = Astro.props as SectionProps
---

<section 
  class:list={['section', `section--${variant}`, className]}
  {...rest}
>
  <slot />
</section>

<style lang="scss">
  @use "./Section.styles.scss";
</style>