---

---
<section class="intersection">
  <div class="intersection__background" aria-hidden="true"></div>

  <div class="intersection__container">
   <slot>
  </div>
</section>

<style lang="scss">
  @use "./Intersection.styles.scss";
</style>
