---
import Heading from "@components/atoms/Heading/Heading.astro"
import Paragraph from "@components/atoms/Paragraph/Paragraph.astro"
---
<section class="intersection">
  <div class="intersection__background" aria-hidden="true"></div>

  <div class="intersection__container">
    <article class="intersection__card">
      <Heading level={3} variant="white" align="center">
        Le mystère du trompettiste de Cracovie
      </Heading>
    
          <Paragraph variant="white" align="center">
            À Cracovie, chaque heure, un trompettiste joue une mélodie depuis la
            tour de la basilique Sainte-Marie, sur la place du marché. La
            mélodie s’interrompt brusquement, toujours au même moment.
          </Paragraph>

          <Paragraph variant="white" align="center">Pourquoi ?</Paragraph>
          <Paragraph variant="white" align="center">
            Parce qu’elle rend hommage à un trompettiste médiéval qui, selon la
            légende, sonnait l’alerte lors d’une invasion mongole. Il fut tué en
            plein appel, sa note restant inachevée… et aujourd’hui encore, les
            Cracoviens perpétuent ce rituel en mémoire de son acte héroïque.
          </Paragraph>
          <Paragraph variant="white" align="center">
            C’est l’un des symboles les plus fascinants et émouvants de la
            culture polonaise !
          </Paragraph>
      
    </article>
  </div>
</section>

<style lang="scss">
  @use "./Intersection.styles.scss";
</style>
