---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '@components/Hero/Hero.astro';
import Footer from '../components/Footer/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="granet">
		<Header />
		<Hero />
		<main>
			<section>
			<h1 class="home">Au coeur des légendes</h1>
			<blockquote class="home"> Il y a quelque chose de magique dans l’Europe centrale.</blockquote>
			<p class="home">L'Europe centrale, avec ses paysages enchanteurs et son riche patrimoine culturel, 
				est une région qui captive l'imagination des voyageurs. La Pologne et la République 
				tchèque, deux joyaux de cette région, sont particulièrement réputées pour leurs 
				contes, légendes et traditions folkloriques qui tissent un lien fascinant entre le 
				passé et le présent.</p>

			<p class="home">Depuis des siècles, les récits populaires s’y transmettent de génération en 
				génération, mêlant créatures fantastiques, esprits protecteurs et chevaliers 
				courageux. En Pologne, le dragon du Wawel veille sur Cracovie, tandis qu’en Bohême, 
				le Golem de Prague incarne à la fois la magie et la protection d’un peuple. 
				Ces légendes ne sont pas seulement des histoires anciennes : elles s’inscrivent 
				encore aujourd’hui dans l’identité et l’imaginaire collectif des habitants.</p>

			<p class="home">Mais au-delà des contes, la Pologne et la République tchèque dévoilent un patrimoine 
				architectural fascinant, entre châteaux gothiques, églises baroques et villages 
				médiévaux préservés. L’atmosphère y est unique, entre traditions bien ancrées et 
				modernité discrète.</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
