---
import Button from "./Button/Button.astro";
import Dropdown from "./Nav/Dropdown.astro";
import Logo from "./Logo/Logo.astro";

import legendes from "@assets/logo.jpg";
import europeCentrale from "@assets/logo.jpg";

const inspirationItems = [
  {
    subtitle: "Au coeur des légendes",
    href: "/legendes",
    image: legendes,
    description:
      "Découvrez des récits oubliés et des mythes fascinants de l'Europe.",
  },
];

const carnetItems = [
  {
    subtitle: "Europe centrale",
    href: "/europe-centrale",
    image: europeCentrale,
    description: "Récits de voyage et guides pratiques pour l'Europe centrale.",
  },
];
---

<header class="sticky-header">
  <nav class="navbar">
    <a href="/"><Logo /></a>
    <div class="internal-links">
      <Dropdown title="Inspirations" items={inspirationItems} />
      <Dropdown title="Carnet" items={carnetItems} />
      <Button />
    </div>
  </nav>
</header>

<style>
    .sticky-header {
      position: sticky; 
      top: 0;       
      left: 0;         
      width: 100%;     
      z-index: 10;     
    }
  .navbar {
    background-color: #1b263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .internal-links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-inline-end: 100px;
  }
</style>
