---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Button from './Button.astro';
import Dropdown from './Nav/Dropdown.astro';
---

<header>
    <nav class="navbar">
        <a href="/"><img src="../../public/img/logo.png" alt="Logo" class="navbar-logo" /></a>
        <div class="internal-links">
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="./guide">Guide</HeaderLink>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle">Envie ▼</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Solo</a></li>
                    <li><a href="#">A deux</a></li>
                    <li><a href="#">Culture</a></li>
					 <li><a href="#">Nature</a></li>
                </ul>
            </div>
        </div>
        <div class="social-links">
            <Button/>
        </div>
    </nav>
</header>

<style>
    .navbar {
        background-color: black;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }

    .navbar h2 a {
        text-decoration: none;
        color: black;
    }

    .internal-links {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .navbar a:hover {
        text-decoration: underline;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        min-width: 160px;
        top: 100%;
        left: 0;
        border-radius: 5px;
        z-index: 10;
    }

    .dropdown-menu li {
        display: block;
    }

    .dropdown-menu a {
        color: black;
        padding: 10px 15px;
        display: block;
    }

    .dropdown-menu a:hover {
        background-color: #f1f1f1;
    }

    .dropdown-menu.show {
        display: block;
    }
</style>

<script>
    document.querySelector(".dropdown-toggle").addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(".dropdown-menu").classList.toggle("show");
    });

    window.addEventListener("click", function (e) {
        if (!document.querySelector(".dropdown").contains(e.target)) {
            document.querySelector(".dropdown-menu").classList.remove("show");
        }
    });
</script>