---
interface DropdownProps {
  title: string;
}

const { title } = Astro.props as DropdownProps;

const envieItems = [
  { title: "Solo", href: "/envie/markdown-style-guide" },
  { title: "A deux", href: "/envie/second-post" },
  { title: "Culture", href: "/envie/third-post" },
  { title: "Nature", href: "/envie/using-mdx" }
];
---
  <ul>
      <li class="dropdown envie-dropdown">
          <a href="#" class="dropdown-toggle">Envie ▼</a>
          <ul class="dropdown-menu">
              <li><a href="/envie/solo">Solo</a></li>
              <li><a href="/envie/a-deux">A deux</a></li>
              <li><a href="/envie/culture">Culture</a></li>
              <li><a href="/envie/nature">Nature</a></li>
          </ul>
      </li>
  </ul>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.dropdown').forEach((dropdown) => {
      const toggle = dropdown.querySelector('.dropdown-toggle');
      const menu = dropdown.querySelector('.dropdown-menu');

  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

      window.addEventListener('click', (e) => {
        if (!dropdown.contains(e.target as Node)) {
          menu?.classList.remove('show');
        }
      });
    });
  });
</script>

<style>
  .dropdown-toggle {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .navbar a:hover {
    text-decoration: underline;
  }

  .dropdown {
  position: relative; /* indispensable */
}

  /* 👇 le menu s'affiche au hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown-menu.show {
  display: block;
}
  .dropdown-link {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    color: black;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    color:black;
    background-color: #f1f1f1;
  }
</style>
